/* Reset de márgenes y rellenos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #723554;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    background: #723554;
    color: #ffffff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background: #555;
}

main {
    flex: 1;
    padding: 2rem;
    background-image: url('../img/F4.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

.content-section {
    display: none;
    background: rgba(64, 63, 63, 0.199);
    border-radius: 15px;
    padding: 20px 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    margin: 20px; 
    max-width: 100%;   
}

.content-section.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    
}

form label {
    margin: 0.5rem 0 0.25rem;
}

form input, form button {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #723554;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #555;
}

#lista-resultados {
    margin-top: 1rem;
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
}
label, h2{
    color: #fff;
}